#wrapper-urlbar-container #urlbar-container > #urlbar > toolbarbutton,
#urlbar-container:not([combined]) > #urlbar > toolbarbutton,
toolbar:not([mode="icons"]) > #urlbar-container > #urlbar > toolbarbutton,
toolbar[mode="icons"] > #urlbar-container > #urlbar > #urlbar-reload-button:not([displaystop]) + #urlbar-stop-button,
toolbar[mode="icons"] > #urlbar-container > #urlbar > #urlbar-reload-button[displaystop],
toolbar[mode="icons"] > #reload-button:not([displaystop]) + #stop-button,
toolbar[mode="icons"] > #reload-button[displaystop]
{
  visibility: visible;
}

toolbar[mode="icons"] > #urlbar-container:not([combined]) > #urlbar > toolbarbutton,
toolbar[mode="icons"] > #urlbar-container:not([combined]) > #urlbar > #urlbar-reload-button,
toolbar[mode="icons"] > #urlbar-container:not([combined]) > #urlbar > #urlbar-reload-button + #urlbar-stop-button
{
  visibility: collapse;
}

#urlbar-stop-button {
  background-image: none;
}
